html {
  background-color: #203800;
  font-size: 10px;
  /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'BIZ UDMincho', serif;
  /* this should be the rest of the output you got from Google fonts */
  /* https://fonts.google.com/specimen/BIZ+UDMincho#standard-styles */
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  /* いらなくね? text-shadow: 3px 3px 1px black; */
  font-size: 30px;
  text-align: center;
}

h2 {
  color: red;
  width: 500px;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

#my-id {
  font-size: 18px;
}

/* 画像のセンタリング */
img {
  display: block;
  margin: 0 auto;
}
